.vs/*
src/TwistedGames/bin/*
src/TwistedGames/obj/*
src/TwistedGames.Core/bin/*
src/TwistedGames.Core/obj/*
*.user
tests/TwistedGames.Core.UnitTests/bin/*
tests/TwistedGames.Core.UnitTests/obj/*
*.pubxml
