@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Twisted games is a game project for fun and practices.</p>
<p>It will be wonderful to hear some opinions, remarks or suggestions about it.</p>

