@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Author:</strong> <a href="https://github.com/KAAndreyR">KAAndreyR</a><br />
</address>
