@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Welcome to Twisted games!</h1>
<h4>The project is at the start of the way now, so I will expend list of available games step by step</h4>

<div class="top_offset">
    <h3>Single-player games</h3>
    <a class="btn btn-primary" asp-page="/SingleGames/Snake">Snake</a>
</div>