@using TwistedGames.Core.Games.Snake
@model TwistedGames.Core.Games.GameRepresentation
<div class="row" id="game-field"></div>
<div class="h4" id="score">@Model.Score</div>
<div id="is-stopped" style="display: none">
    <div class="h3">Game is stopped</div>
    <div class="h4">Press Space or Center button to start</div>
</div>